/*CSS for the author book Creation page*/
section {
    display: flex;
    flex-direction: column;
  }
  .sectionOne {
    display: flex;
    flex-direction: column;
  }
  
  /* Reset Select */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 2px solid #eee !important;
    background: #fff;
    background-image: none;
    font-size: 20px;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    display: flex;
    background: #fff;
    overflow: hidden;
    border-radius: 4px;
  }
  select {
    flex: 1;
    padding: 10px 5px;
    color: #000;
    cursor: pointer;
  }
  
  input {
    margin: 2px;
    max-width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 5px;
    border: 2px solid #eee;
    color: #000; /*Ask to Change Color*/
    border-radius: 4px;
  }
  .submit {
    border: none;
    background-color: #0070f3;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    transition: all 0.2s ease;
  }
  
  button {
    border: none;
    background-color: #0070f3;
    flex: 1;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    transition: all 0.2s ease;
  }
  button a {
    color: #fff;
    text-decoration: none;
  }
  button a:hover{
      color: #fff !important;
  }
  button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  textarea {
    margin: 2px;
    max-width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 5px;
    border: 2px solid #eee;
    color: #000;
    border-radius: 4px;
    font-family: "Inter", sans-serif;
  }
  
  