/*CSS for the index page*/
section {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  justify-content: center;
  margin: auto;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  text-align: center;
}

input {
  margin-bottom: 10px;
  max-width: 100%;
  font-size: 24px;
  padding: 3px;
  border: 2px solid #eee;
  border-radius: 4px;
}

button {
  border: none;
  background-color: #0070f3;
  flex: 1;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  transition: all 0.2s ease;
}

button a {
  color: #fff;
  text-decoration: none;
}
button a:hover{
    color: #fff !important;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.signup {
  background-color: #eee !important;
  color: #000 !important;
}
.signup a {
  color: #000 !important;
}
.signup a:hover{
    color: #000 !important;
}

.buttongroup {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
